on: push
name: Run tests

jobs:
  spec_tests:
    name: "Spec tests"
    runs-on: ubuntu-latest
    if: '!github.event.deleted'
    steps:
    - name: 'Checkout code'
      uses: actions/checkout@v6
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.2
        # We're using phpdbg, we don't need a coverage extension.
        coverage: none
    - name: Install Dependencies
      run: |
        composer install --no-interaction --no-progress
    - name: 'Run spec tests'
      env:
        APP_KEY: "base64:Z++HhObkg1plehwZlK6RGSRVi4uWPiUGRYFoDOt2/Ig="
        DB_CONNECTION: "sqlite"
        DB_DATABASE: "/tmp/acdc.sqlite"
        LOG_CHANNEL: "errorlog"
        APP_ENV: "testing"
      run: |
        phpdbg -qrr vendor/bin/phpspec run
    - name: 'Merge coverage'
      run: |
        phpdbg -qrr vendor/bin/phpcov merge --clover=spec.xml coverage/spec.cov
    - name: 'Upload CodeCov report'
      uses: codecov/codecov-action@v5
      with:
        files: ./spec.xml
        flags: spec
        fail_ci_if_error: true
        # Needed for Dependabot PRs.
        token: ${{ secrets.CODECOV_TOKEN }}

  unit_tests:
    name: "Unit tests"
    runs-on: ubuntu-latest
    if: '!github.event.deleted'
    steps:
    - name: 'Checkout code'
      uses: actions/checkout@v6
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.2
        # We're using phpdbg, we don't need a coverage extension.
        coverage: none
    - name: Install Dependencies
      run: |
        composer install --no-interaction --no-progress
    - name: 'Run unit tests'
      run: |
        phpdbg -qrr vendor/bin/phpunit --testsuite Unit --coverage-php=coverage/unit.cov
    - name: 'Merge coverage'
      run: |
        phpdbg -qrr vendor/bin/phpcov merge --clover=unit.xml coverage/unit.cov
    - name: 'Upload CodeCov report'
      uses: codecov/codecov-action@v5
      with:
        files: ./unit.xml
        flags: unit
        fail_ci_if_error: true
        # Needed for Dependabot PRs.
        token: ${{ secrets.CODECOV_TOKEN }}

  feature_tests:
    name: "Feature tests"
    runs-on: ubuntu-latest
    if: '!github.event.deleted'
    steps:
    - name: 'Checkout code'
      uses: actions/checkout@v6
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.2
        # We're using phpdbg, we don't need a coverage extension.
        coverage: none
    - name: Install Dependencies
      run: |
        composer install --no-interaction --no-progress
    - name: 'Run unit tests'
      env:
        APP_KEY: "base64:Z++HhObkg1plehwZlK6RGSRVi4uWPiUGRYFoDOt2/Ig="
        DB_CONNECTION: "sqlite"
        DB_DATABASE: "/tmp/acdc.sqlite"
        LOG_CHANNEL: "errorlog"
        APP_ENV: "testing"
      run: |
        phpdbg -qrr vendor/bin/phpunit --testsuite Feature --coverage-php=coverage/feature.cov
    - name: 'Merge coverage'
      run: |
        phpdbg -qrr vendor/bin/phpcov merge --clover=feature.xml coverage/feature.cov
    - name: 'Upload CodeCov report'
      uses: codecov/codecov-action@v5
      with:
        files: ./feature.xml
        flags: feature
        fail_ci_if_error: true
        # Needed for Dependabot PRs.
        token: ${{ secrets.CODECOV_TOKEN }}
